**The Project focus on DATA Mining of the raw data set extracted from Qualtrics**

1) First we need to recode several columns: Race, Gender, Discipline, for 
   research interests, they are all being measured as categorical variables, we 
   need to combine several subcategories to the subsequent analysis possible.
  
     (1) Race: original codes: ['4', '1,2', '1,7', '5', '1', '3', '3,7', '1,4', 
     '3,4', '1,2,7','7', '1,3,6,7', '2', '2,4', '4,7', '2,4,7', '5,7', '4,5,7', 
     '2,7', '1,5,7', '1,2,4,7', '3,4,6', '6', '1,4,7', '1,6', '1,3', '3,4,7', 
     '2,3,4']

     (2) Gender: original codes: ['2.0', '5.0', '1.0', '3.0', '4.0']


     (3) Discipline: original codes: ['2.0', '1.0', '5.0', '7.0', '6.0', '4.0', 
    '3.0']

  We also need other categorical variables for following analysis: Sexual_Harassment, Offended_sex_remarks, Sexual Orientation.

2) Then we need to recode the 'Mental Health Score' since the original one has 
   been reversely coded

3) We also need to extract all of continuous variables to calculate their sum score, the variables we need are: Imposter Syndrome Score, Mental Health Score, Minority Stress Score
4) Then we need to check for missing values and several descriptive stats

In [1]:
# import the Python libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Import the Data set
# This the combined raw dataset, 
# we need to extracted the variables of interests from this raw DATASET
Combined__all3WAVES = pd.read_csv("../Combined__all3WAVES.csv")

**Check Data Structure**

In [3]:
Combined__all3WAVES.columns

Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'RecipientLastName',
       ...
       'Q376_Name', 'Q376_Size', 'Q376_Type', 'COVID_19', 'Cohabiting',
       'Household_income', 'name_1', 'name_2', 'email_address',
       'Future_contact'],
      dtype='object', length=265)

In [4]:
Combined__all3WAVES.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 973 entries, 0 to 972
Columns: 265 entries, StartDate to Future_contact
dtypes: float64(199), int64(5), object(61)
memory usage: 2.0+ MB

In [5]:
Combined__all3WAVES.shape

(973, 265)

In [ ]:
Combined__all3WAVES.head(6)

In [ ]:
Combined__all3WAVES.tail(6)

In [7]:
Combined__all3WAVES.dtypes

StartDate            object
EndDate              object
Status                int64
IPAddress            object
Progress              int64
                     ...
Household_income    float64
name_1               object
name_2               object
email_address        object
Future_contact      float64
Length: 265, dtype: object

In [ ]:
# Use below two kinds of methods to get the names of all variables in the dataset
list(Combined__all3WAVES.keys())
list(Combined__all3WAVES.columns)
list(Combined__all3WAVES.columns.values)

**Create a variable called 'ALLVARs' to store all the names of variables**

In [14]:
ALLVARs = list(Combined__all3WAVES.columns.values)
ALLVARs[0:5]

['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress']

**Get the names of all the continuous variables of interests**

We need Imposter Syndrome Score, Mental Health Score, Minority Stress Score

In [22]:
name_Impos=list(filter(lambda x : 'Imposter_' in x, ALLVARs))
print(name_Impos)
print(len(name_Impos))

['Imposter_1', 'Imposter_2', 'Imposter_3', 'Imposter_4', 'Imposter_5', 'Imposter_6', 'Imposter_7', 'Imposter_8', 'Imposter_9', 'Imposter_10', 'Imposter_11', 'Imposter_12', 'Imposter_13', 'Imposter_14', 'Imposter_15', 'Imposter_16', 'Imposter_17', 'Imposter_18', 'Imposter_19', 'Imposter_20']
20

In [23]:
name_Health=list(filter(lambda x : x.startswith('Health_'), ALLVARs))
print(name_Health)
print(len(name_Health))

['Health_1', 'Health_2', 'Health_3', 'Health_4', 'Health_5', 'Health_6']
6

In [24]:
name_MenHea=list(filter(lambda x : 'Mental_Health_5_item_' in x, ALLVARs))
print(name_MenHea)
print(len(name_MenHea))

['Mental_Health_5_item_1', 'Mental_Health_5_item_2', 'Mental_Health_5_item_3', 'Mental_Health_5_item_4', 'Mental_Health_5_item_5']
5

In [25]:
name_MinoStres=list(filter(lambda x : 'Minority_Stress_' in x, ALLVARs))
print(name_MinoStres)
print(len(name_MinoStres))

['Minority_Stress_1', 'Minority_Stress_2', 'Minority_Stress_3', 'Minority_Stress_4', 'Minority_Stress_5', 'Minority_Stress_6', 'Minority_Stress_7', 'Minority_Stress_8', 'Minority_Stress_9', 'Minority_Stress_10', 'Minority_Stress_11', 'Minority_Stress_12', 'Minority_Stress_13', 'Minority_Stress_14', 'Minority_Stress_15', 'Minority_Stress_16', 'Minority_Stress_17', 'Minority_Stress_18', 'Minority_Stress_19', 'Minority_Stress_20', 'Minority_Stress_21', 'Minority_Stress_22', 'Minority_Stress_23', 'Minority_Stress_24', 'Minority_Stress_25', 'Minority_Stress_26', 'Minority_Stress_27', 'Minority_Stress_28', 'Minority_Stress_29', 'Minority_Stress_30', 'Minority_Stress_31', 'Minority_Stress_32', 'Minority_Stress_33']
33

In [19]:
name_sexual=[a for a in ALLVARs if a.startswith('U_') or a.startswith('Offended_')]
name_sexual

['U_others_sex_harass', 'Offended_sex_remarks']

In [72]:
# this line of code is only used to find the whole names of two categorical variables we need 
[a for a in ALLVARs if a.startswith('Sexual_o')]

['Sexual_orientation', 'Sexual_orientation_4_TEXT']

In [70]:
# Pack all the names of variables of interests in a list called 'to_select' for extraction
to_select = ['Sexual_orientation','Race_ethnicity_ID','Discipline','Gender','Pain','Fatigue','Physical_Activities',
'Negative_affect'] + [*name_Impos,*name_Health,*name_MenHea,*name_MinoStres,*name_sexual]
print(to_select, len(to_select), sep="\n")

['Sexual_orientation', 'Race_ethnicity_ID', 'Discipline', 'Gender', 'Pain', 'Fatigue', 'Physical_Activities', 'Negative_affect', 'Imposter_1', 'Imposter_2', 'Imposter_3', 'Imposter_4', 'Imposter_5', 'Imposter_6', 'Imposter_7', 'Imposter_8', 'Imposter_9', 'Imposter_10', 'Imposter_11', 'Imposter_12', 'Imposter_13', 'Imposter_14', 'Imposter_15', 'Imposter_16', 'Imposter_17', 'Imposter_18', 'Imposter_19', 'Imposter_20', 'Health_1', 'Health_2', 'Health_3', 'Health_4', 'Health_5', 'Health_6', 'Mental_Health_5_item_1', 'Mental_Health_5_item_2', 'Mental_Health_5_item_3', 'Mental_Health_5_item_4', 'Mental_Health_5_item_5', 'Minority_Stress_1', 'Minority_Stress_2', 'Minority_Stress_3', 'Minority_Stress_4', 'Minority_Stress_5', 'Minority_Stress_6', 'Minority_Stress_7', 'Minority_Stress_8', 'Minority_Stress_9', 'Minority_Stress_10', 'Minority_Stress_11', 'Minority_Stress_12', 'Minority_Stress_13', 'Minority_Stress_14', 'Minority_Stress_15', 'Minority_Stress_16', 'Minority_Stress_17', 'Minority_Stress_18', 'Minority_Stress_19', 'Minority_Stress_20', 'Minority_Stress_21', 'Minority_Stress_22', 'Minority_Stress_23', 'Minority_Stress_24', 'Minority_Stress_25', 'Minority_Stress_26', 'Minority_Stress_27', 'Minority_Stress_28', 'Minority_Stress_29', 'Minority_Stress_30', 'Minority_Stress_31', 'Minority_Stress_32', 'Minority_Stress_33', 'U_others_sex_harass', 'Offended_sex_remarks']
74

**Creating a subset of data**

In [71]:
df = Combined__all3WAVES[to_select].copy()

**Checking some Data Structure**

In [ ]:
df.head(6)

In [ ]:
df.tail(6)

In [74]:
df.columns

Index(['Sexual_orientation', 'Race_ethnicity_ID', 'Discipline', 'Gender',
       'Pain', 'Fatigue', 'Physical_Activities', 'Negative_affect',
       'Imposter_1', 'Imposter_2', 'Imposter_3', 'Imposter_4', 'Imposter_5',
       'Imposter_6', 'Imposter_7', 'Imposter_8', 'Imposter_9', 'Imposter_10',
       'Imposter_11', 'Imposter_12', 'Imposter_13', 'Imposter_14',
       'Imposter_15', 'Imposter_16', 'Imposter_17', 'Imposter_18',
       'Imposter_19', 'Imposter_20', 'Health_1', 'Health_2', 'Health_3',
       'Health_4', 'Health_5', 'Health_6', 'Mental_Health_5_item_1',
       'Mental_Health_5_item_2', 'Mental_Health_5_item_3',
       'Mental_Health_5_item_4', 'Mental_Health_5_item_5', 'Minority_Stress_1',
       'Minority_Stress_2', 'Minority_Stress_3', 'Minority_Stress_4',
       'Minority_Stress_5', 'Minority_Stress_6', 'Minority_Stress_7',
       'Minority_Stress_8', 'Minority_Stress_9', 'Minority_Stress_10',
       'Minority_Stress_11', 'Minority_Stress_12', 'Minority_Stress_13',
       'Minority_Stress_14', 'Minority_Stress_15', 'Minority_Stress_16',
       'Minority_Stress_17', 'Minority_Stress_18', 'Minority_Stress_19',
       'Minority_Stress_20', 'Minority_Stress_21', 'Minority_Stress_22',
       'Minority_Stress_23', 'Minority_Stress_24', 'Minority_Stress_25',
       'Minority_Stress_26', 'Minority_Stress_27', 'Minority_Stress_28',
       'Minority_Stress_29', 'Minority_Stress_30', 'Minority_Stress_31',
       'Minority_Stress_32', 'Minority_Stress_33', 'U_others_sex_harass',
       'Offended_sex_remarks'],
      dtype='object')

In [75]:
df.dtypes

Sexual_orientation      float64
Race_ethnicity_ID        object
Discipline              float64
Gender                  float64
Pain                    float64
                         ...
Minority_Stress_31      float64
Minority_Stress_32      float64
Minority_Stress_33      float64
U_others_sex_harass     float64
Offended_sex_remarks    float64
Length: 74, dtype: object

In [76]:
df.shape

(973, 74)

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 973 entries, 0 to 972
Data columns (total 74 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Sexual_orientation      683 non-null    float64
 1   Race_ethnicity_ID       683 non-null    object
 2   Discipline              813 non-null    float64
 3   Gender                  682 non-null    float64
 4   Pain                    724 non-null    float64
 5   Fatigue                 724 non-null    float64
 6   Physical_Activities     724 non-null    float64
 7   Negative_affect         724 non-null    float64
 8   Imposter_1              694 non-null    float64
 9   Imposter_2              647 non-null    float64
 10  Imposter_3              691 non-null    float64
 11  Imposter_4              692 non-null    float64
 12  Imposter_5              693 non-null    float64
 13  Imposter_6              693 non-null    float64
 14  Imposter_7              693 non-null    float64
 15  Imposter_8              693 non-null    float64
 16  Imposter_9              694 non-null    float64
 17  Imposter_10             692 non-null    float64
 18  Imposter_11             692 non-null    float64
 19  Imposter_12             694 non-null    float64
 20  Imposter_13             692 non-null    float64
 21  Imposter_14             693 non-null    float64
 22  Imposter_15             693 non-null    float64
 23  Imposter_16             694 non-null    float64
 24  Imposter_17             693 non-null    float64
 25  Imposter_18             692 non-null    float64
 26  Imposter_19             693 non-null    float64
 27  Imposter_20             694 non-null    float64
 28  Health_1                723 non-null    float64
 29  Health_2                724 non-null    float64
 30  Health_3                723 non-null    float64
 31  Health_4                724 non-null    float64
 32  Health_5                724 non-null    float64
 33  Health_6                724 non-null    float64
 34  Mental_Health_5_item_1  720 non-null    float64
 35  Mental_Health_5_item_2  720 non-null    float64
 36  Mental_Health_5_item_3  720 non-null    float64
 37  Mental_Health_5_item_4  720 non-null    float64
 38  Mental_Health_5_item_5  720 non-null    float64
 39  Minority_Stress_1       708 non-null    float64
 40  Minority_Stress_2       709 non-null    float64
 41  Minority_Stress_3       709 non-null    float64
 42  Minority_Stress_4       710 non-null    float64
 43  Minority_Stress_5       710 non-null    float64
 44  Minority_Stress_6       710 non-null    float64
 45  Minority_Stress_7       709 non-null    float64
 46  Minority_Stress_8       710 non-null    float64
 47  Minority_Stress_9       710 non-null    float64
 48  Minority_Stress_10      709 non-null    float64
 49  Minority_Stress_11      709 non-null    float64
 50  Minority_Stress_12      704 non-null    float64
 51  Minority_Stress_13      705 non-null    float64
 52  Minority_Stress_14      705 non-null    float64
 53  Minority_Stress_15      704 non-null    float64
 54  Minority_Stress_16      704 non-null    float64
 55  Minority_Stress_17      705 non-null    float64
 56  Minority_Stress_18      705 non-null    float64
 57  Minority_Stress_19      705 non-null    float64
 58  Minority_Stress_20      705 non-null    float64
 59  Minority_Stress_21      705 non-null    float64
 60  Minority_Stress_22      703 non-null    float64
 61  Minority_Stress_23      699 non-null    float64
 62  Minority_Stress_24      699 non-null    float64
 63  Minority_Stress_25      699 non-null    float64
 64  Minority_Stress_26      697 non-null    float64
 65  Minority_Stress_27      698 non-null    float64
 66  Minority_Stress_28      697 non-null    float64
 67  Minority_Stress_29      699 non-null    float64
 68  Minority_Stress_30      698 non-null    float64
 69  Minority_Stress_31      699 non-null    float64
 70  Minority_Stress_32      698 non-null    float64
 71  Minority_Stress_33      698 non-null    float64
 72  U_others_sex_harass     416 non-null    float64
 73  Offended_sex_remarks    416 non-null    float64
dtypes: float64(73), object(1)
memory usage: 562.6+ KB

**I first Manipulate the RACE column**

In [74]:
# Check for the original subcategories
df.Race_ethnicity_ID.dropna().unique()

array(['4', '1,2', '1,7', '5', '1', '3', '3,7', '1,4', '3,4', '1,2,7',
       '7', '1,3,6,7', '2', '2,4', '4,7', '2,4,7', '5,7', '4,5,7', '2,7',
       '1,5,7', '1,2,4,7', '3,4,6', '6', '1,4,7', '1,6', '1,3', '3,4,7',
       '2,3,4'], dtype=object)

The original subcategories are too messy, I need to combine some of them.

In [51]:
### you could first make all variables tonumeric
### but if you have multiple entered data for one entry, this would ignore them and make them all NA
### so better not do this but convert them one by hand 
# df['Race_ethnicity_ID']=pd.to_numeric(df['Race_ethnicity_ID'],errors='coerce')

In [78]:
## Check the data type of 'Race'
df['Race_ethnicity_ID'].dtypes == object

True

The data type of this variable is 'Object'

**The current variable names are too complex, I need to change them**

In [79]:
### define the name to change
to_change1 = {'Race_ethnicity_ID': 'Race_num', 'U_others_sex_harass':'sex_harass_num','Offended_sex_remarks':'sex_remarks_num'}
print(to_change1)

{'Race_ethnicity_ID': 'Race_num', 'U_others_sex_harass': 'sex_harass_num', 'Offended_sex_remarks': 'sex_remarks_num'}

In [80]:
# Also get the names of 4 categorical variables we need
ori_name=list(df.keys())[0:4]
ori_name.remove('Race_ethnicity_ID')
print(ori_name)

['Sexual_orientation', 'Discipline', 'Gender']

In [81]:
# Created a list of new names
New_name=[a + '_num' for a in ori_name]
print(New_name)

['Sexual_orientation_num', 'Discipline_num', 'Gender_num']

In [82]:
Name_pairs={item: New_name[idx] for idx,item in enumerate(ori_name)}
print(Name_pairs)

{'Sexual_orientation': 'Sexual_orientation_num', 'Discipline': 'Discipline_num', 'Gender': 'Gender_num'}

In [83]:
to_change = {**to_change1 ,**Name_pairs}
print(to_change)

{'Race_ethnicity_ID': 'Race_num', 'U_others_sex_harass': 'sex_harass_num', 'Offended_sex_remarks': 'sex_remarks_num', 'Sexual_orientation': 'Sexual_orientation_num', 'Discipline': 'Discipline_num', 'Gender': 'Gender_num'}

In [85]:
### rename the columns
df = df.rename(columns=to_change)

In [86]:
##### check the current column names
df.columns.values

array(['Sexual_orientation_num', 'Race_num', 'Discipline_num',
       'Gender_num', 'Pain', 'Fatigue', 'Physical_Activities',
       'Negative_affect', 'Imposter_1', 'Imposter_2', 'Imposter_3',
       'Imposter_4', 'Imposter_5', 'Imposter_6', 'Imposter_7',
       'Imposter_8', 'Imposter_9', 'Imposter_10', 'Imposter_11',
       'Imposter_12', 'Imposter_13', 'Imposter_14', 'Imposter_15',
       'Imposter_16', 'Imposter_17', 'Imposter_18', 'Imposter_19',
       'Imposter_20', 'Health_1', 'Health_2', 'Health_3', 'Health_4',
       'Health_5', 'Health_6', 'Mental_Health_5_item_1',
       'Mental_Health_5_item_2', 'Mental_Health_5_item_3',
       'Mental_Health_5_item_4', 'Mental_Health_5_item_5',
       'Minority_Stress_1', 'Minority_Stress_2', 'Minority_Stress_3',
       'Minority_Stress_4', 'Minority_Stress_5', 'Minority_Stress_6',
       'Minority_Stress_7', 'Minority_Stress_8', 'Minority_Stress_9',
       'Minority_Stress_10', 'Minority_Stress_11', 'Minority_Stress_12',
       'Minority_Stress_13', 'Minority_Stress_14', 'Minority_Stress_15',
       'Minority_Stress_16', 'Minority_Stress_17', 'Minority_Stress_18',
       'Minority_Stress_19', 'Minority_Stress_20', 'Minority_Stress_21',
       'Minority_Stress_22', 'Minority_Stress_23', 'Minority_Stress_24',
       'Minority_Stress_25', 'Minority_Stress_26', 'Minority_Stress_27',
       'Minority_Stress_28', 'Minority_Stress_29', 'Minority_Stress_30',
       'Minority_Stress_31', 'Minority_Stress_32', 'Minority_Stress_33',
       'sex_harass_num', 'sex_remarks_num'], dtype=object)

**For the following, we modify the race varaible**

In [87]:
df['Race_num'].head(6)

0    NaN
1      4
2    1,2
3    1,7
4      5
5      5
Name: Race_num, dtype: object

In [88]:
df['Race_num'].unique()

array([nan, '4', '1,2', '1,7', '5', '1', '3', '3,7', '1,4', '3,4',
       '1,2,7', '7', '1,3,6,7', '2', '2,4', '4,7', '2,4,7', '5,7',
       '4,5,7', '2,7', '1,5,7', '1,2,4,7', '3,4,6', '6', '1,4,7', '1,6',
       '1,3', '3,4,7', '2,3,4'], dtype=object)

**We need to convert the data types of some variables**

In [89]:
# First find the names of the variable we need to convert data types
to_convert = New_name + ['Race_num'] + list(to_change1.values())[1:]
print(to_convert)

['Sexual_orientation_num', 'Discipline_num', 'Gender_num', 'Race_num', 'sex_harass_num', 'sex_remarks_num']

In [91]:
df[to_convert].head(6)

,Sexual_orientation_num,Discipline_num,Gender_num,Race_num,sex_harass_num,sex_remarks_num
0,NaN,2.0,NaN,NaN,NaN,NaN
1,1.0,2.0,2.0,4,2.0,1.0
2,1.0,2.0,1.0,"1,2",2.0,2.0
3,1.0,2.0,2.0,"1,7",1.0,1.0
4,5.0,2.0,2.0,5,2.0,2.0
5,5.0,2.0,2.0,5,2.0,2.0

In [92]:
df[to_convert] = df[to_convert].astype("string")

In [93]:
df[to_convert].dtypes

Sexual_orientation_num    string
Discipline_num            string
Gender_num                string
Race_num                  string
sex_harass_num            string
sex_remarks_num           string
dtype: object

In [94]:
df.dtypes

Sexual_orientation_num     string
Race_num                   string
Discipline_num             string
Gender_num                 string
Pain                      float64
                           ...
Minority_Stress_31        float64
Minority_Stress_32        float64
Minority_Stress_33        float64
sex_harass_num             string
sex_remarks_num            string
Length: 74, dtype: object

**I hope to find all the unique categories of these categorical variables**

In [95]:
print(df[to_convert].apply(lambda col:','.join(map(str,col.unique()))))

Sexual_orientation_num                             <NA>,1.0,5.0,3.0,4.0,2.0
Discipline_num                                     2.0,5.0,<NA>,1.0,3.0,4.0
Gender_num                                 <NA>,2.0,1.0,5.0,7.0,6.0,4.0,3.0
Race_num                  <NA>,4,1,2,1,7,5,1,3,3,7,1,4,3,4,1,2,7,7,1,3,6...
sex_harass_num                                             <NA>,2.0,1.0,3.0
sex_remarks_num                                            <NA>,1.0,2.0,3.0
dtype: object

In [96]:
# we could also use this method to achieve the same effect
#another way to do the same thing
pd.Series({col:df[col].unique() for col in df[to_convert]})

Sexual_orientation_num                      [<NA>, 1.0, 5.0, 3.0, 4.0, 2.0]
Discipline_num                              [2.0, 5.0, <NA>, 1.0, 3.0, 4.0]
Gender_num                        [<NA>, 2.0, 1.0, 5.0, 7.0, 6.0, 4.0, 3.0]
Race_num                  [<NA>, 4, 1,2, 1,7, 5, 1, 3, 3,7, 1,4, 3,4, 1,...
sex_harass_num                                        [<NA>, 2.0, 1.0, 3.0]
sex_remarks_num                                       [<NA>, 1.0, 2.0, 3.0]
dtype: object

In [ ]:
## np.where(np.array(l1)=='1')[0][0]

**We need to create some variables for future use**

In [98]:
Race_Ori=list(df['Race_num'].unique())
# l0=list(filter(lambda a:a==a,l0))
print(Race_Ori)

[<NA>, '4', '1,2', '1,7', '5', '1', '3', '3,7', '1,4', '3,4', '1,2,7', '7', '1,3,6,7', '2', '2,4', '4,7', '2,4,7', '5,7', '4,5,7', '2,7', '1,5,7', '1,2,4,7', '3,4,6', '6', '1,4,7', '1,6', '1,3', '3,4,7', '2,3,4']

**Because of the following analysis, we need to drop all NaN and also, since we need to change all subcategories that contain '1' to '1', and all the rest to '2', we need to first find all subgroups containing '1'**

In [99]:
# Create a lists of NO NA and subgroups containing '1'
Race_1=[ele for ele in Race_Ori if not pd.isna(ele) and '1' in ele.split(',') ] 
print(Race_1)

['1,2', '1,7', '1', '1,4', '1,2,7', '1,3,6,7', '1,5,7', '1,2,4,7', '1,4,7', '1,6', '1,3']

In [100]:
# Create a lists of only NO NA 
Race_NoNa = [ele for ele in list(df['Race_num'].unique()) if not pd.isna(ele)]
print(Race_NoNa)

['4', '1,2', '1,7', '5', '1', '3', '3,7', '1,4', '3,4', '1,2,7', '7', '1,3,6,7', '2', '2,4', '4,7', '2,4,7', '5,7', '4,5,7', '2,7', '1,5,7', '1,2,4,7', '3,4,6', '6', '1,4,7', '1,6', '1,3', '3,4,7', '2,3,4']

In [101]:
# Find the subgroups between two lists, which is a list containing subgroups 
# that don't contain '1' 
Race_2=list(set(Race_NoNa)-set(Race_1))
print(Race_2)

['2,4', '3,4', '2,3,4', '3', '2,7', '3,4,6', '7', '2', '3,4,7', '6', '4,5,7', '4,7', '5', '2,4,7', '3,7', '5,7', '4']

In [102]:
# Create two dictionary for us to map original names to new names
Race_d1 = dict.fromkeys(Race_1,'1')
Race_d2 = dict.fromkeys(Race_2,'2')
Race_d3={**Race_d1,**Race_d2}
print(Race_d3)

{'1,2': '1', '1,7': '1', '1': '1', '1,4': '1', '1,2,7': '1', '1,3,6,7': '1', '1,5,7': '1', '1,2,4,7': '1', '1,4,7': '1', '1,6': '1', '1,3': '1', '2,4': '2', '3,4': '2', '2,3,4': '2', '3': '2', '2,7': '2', '3,4,6': '2', '7': '2', '2': '2', '3,4,7': '2', '6': '2', '4,5,7': '2', '4,7': '2', '5': '2', '2,4,7': '2', '3,7': '2', '5,7': '2', '4': '2'}

In [103]:
# use assign() to recode this column
df=df.assign(Race_num  = df.Race_num.map(Race_d3))

In [104]:
## check the recoded results
df['Race_num'].unique()

array([nan, '2', '1'], dtype=object)

**Now we move to Discipline**

In [105]:
df.Discipline_num.head(6)

0    2.0
1    2.0
2    2.0
3    2.0
4    2.0
5    2.0
Name: Discipline_num, dtype: string

In [106]:
df['Discipline_num'].unique()

<StringArray>
['2.0', '5.0', <NA>, '1.0', '3.0', '4.0']
Length: 6, dtype: string

**For Discipline variable, we need to combine '1' and '2' to '1', and combine '3', '4', '5' to '2'.**

In [107]:
Disc_1 = ['1.0','2.0']
print(Disc_1)

['1.0', '2.0']

In [108]:
Disc_2=[ele for ele in list(df.Discipline_num.unique()) if not pd.isna(ele) and ele not in Disc_1]
print(Disc_2)

['5.0', '3.0', '4.0']

In [109]:
Disc_1=dict.fromkeys(Disc_1,'1')
Disc_2=dict.fromkeys(Disc_2,'2')
Disc_3={**Disc_1,**Disc_2}
print(Disc_3)

{'1.0': '1', '2.0': '1', '5.0': '2', '3.0': '2', '4.0': '2'}

In [110]:
df=df.assign(Discipline_num=df.Discipline_num.map(Disc_3))

In [111]:
## check the recoded results
df.Discipline_num.unique()

array(['1', '2', nan], dtype=object)

**Now we move to Gender**

In [112]:
df.Gender_num.unique()

<StringArray>
[<NA>, '2.0', '1.0', '5.0', '7.0', '6.0', '4.0', '3.0']
Length: 8, dtype: string

**For Gender variable, we need to combine '3', '4', '5' ,'6', '7' to '3'.**

In [113]:
# Find the all subgroups that we need to combine
Gender_1 = [ele for ele in list(df.Gender_num.unique()) if not pd.isna(ele) and ele not in Disc_1]
print(Gender_1)

['5.0', '7.0', '6.0', '4.0', '3.0']

In [115]:
Gender_d3=dict.fromkeys(Gender_1,'3')
Gender_d3['1.0']='1'
Gender_d3['2.0']='2'
print(Gender_d3)

{'5.0': '3', '7.0': '3', '6.0': '3', '4.0': '3', '3.0': '3', '1.0': '1', '2.0': '2'}

In [116]:
df=df.assign(Gender_num=df.Gender_num.map(Gender_d3))

In [117]:
## check the recoded results
df['Gender_num'].unique()

array([nan, '2', '1', '3'], dtype=object)

In [118]:
# this method also gives the same effect
df.Gender_num.map(lambda a: '3' if not pd.isna(a) and a in Gender_1 else a).unique()

array([nan, '2', '1', '3'], dtype=object)

In [279]:
# df.Gender_num.str.replace('.0','').unique()

C:\Users\ancho\AppData\Local\Temp\ipykernel_10616\3535786384.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df.Gender_num.str.replace('.0','').unique()

<StringArray>
[<NA>, '2', '1', '5', '7', '6', '4', '3']
Length: 8, dtype: string




**In this case, probably we could write a loop**

In [131]:
#### 
maplist=[Disc_3,Gender_d3,Race_d3]
print(maplist)

[{'1.0': '1', '2.0': '1', '5.0': '2', '3.0': '2', '4.0': '2'}, {'5.0': '3', '7.0': '3', '6.0': '3', '4.0': '3', '3.0': '3', '1.0': '1', '2.0': '2'}, {'1,2': '1', '1,7': '1', '1': '1', '1,4': '1', '1,2,7': '1', '1,3,6,7': '1', '1,5,7': '1', '1,2,4,7': '1', '1,4,7': '1', '1,6': '1', '1,3': '1', '2,4': '2', '3,4': '2', '2,3,4': '2', '3': '2', '2,7': '2', '3,4,6': '2', '7': '2', '2': '2', '3,4,7': '2', '6': '2', '4,5,7': '2', '4,7': '2', '5': '2', '2,4,7': '2', '3,7': '2', '5,7': '2', '4': '2'}]

In [132]:
to_convert[1:4]

['Discipline_num', 'Gender_num', 'Race_num']

In [133]:
test = Combined__all3WAVES[to_select].copy()
test = test.rename(columns={'Race_ethnicity_ID': 'Race_num',
 'Discipline': 'Discipline_num',
 'Gender': 'Gender_num'})
test.head(6)

,Sexual_orientation,Race_num,Discipline_num,Gender_num,Pain,Fatigue,Physical_Activities,Negative_affect,Imposter_1,Imposter_2,...,Minority_Stress_26,Minority_Stress_27,Minority_Stress_28,Minority_Stress_29,Minority_Stress_30,Minority_Stress_31,Minority_Stress_32,Minority_Stress_33,U_others_sex_harass,Offended_sex_remarks
0,NaN,NaN,2.0,NaN,3.0,3.0,5.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,4,2.0,2.0,2.0,2.0,5.0,2.0,3.0,NaN,...,3.0,1.0,2.0,2.0,1.0,4.0,5.0,4.0,2.0,1.0
2,1.0,"1,2",2.0,1.0,0.0,3.0,4.0,3.0,3.0,NaN,...,4.0,0.0,4.0,4.0,2.0,3.0,2.0,0.0,2.0,2.0
3,1.0,"1,7",2.0,2.0,1.0,4.0,3.0,4.0,3.0,NaN,...,5.0,5.0,NaN,5.0,5.0,5.0,5.0,5.0,1.0,1.0
4,5.0,5,2.0,2.0,1.0,2.0,5.0,2.0,5.0,NaN,...,4.0,0.0,3.0,5.0,4.0,5.0,NaN,3.0,2.0,2.0
5,5.0,5,2.0,2.0,1.0,2.0,5.0,2.0,5.0,NaN,...,NaN,0.0,3.0,5.0,4.0,4.0,5.0,3.0,2.0,2.0

In [134]:
test.dtypes

Sexual_orientation      float64
Race_num                 object
Discipline_num          float64
Gender_num              float64
Pain                    float64
                         ...
Minority_Stress_31      float64
Minority_Stress_32      float64
Minority_Stress_33      float64
U_others_sex_harass     float64
Offended_sex_remarks    float64
Length: 74, dtype: object

In [135]:
test[to_convert[1:4]] = test[to_convert[1:4]].astype("string")

In [136]:
test.head(6)

,Sexual_orientation,Race_num,Discipline_num,Gender_num,Pain,Fatigue,Physical_Activities,Negative_affect,Imposter_1,Imposter_2,...,Minority_Stress_26,Minority_Stress_27,Minority_Stress_28,Minority_Stress_29,Minority_Stress_30,Minority_Stress_31,Minority_Stress_32,Minority_Stress_33,U_others_sex_harass,Offended_sex_remarks
0,NaN,<NA>,2.0,<NA>,3.0,3.0,5.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,4,2.0,2.0,2.0,2.0,5.0,2.0,3.0,NaN,...,3.0,1.0,2.0,2.0,1.0,4.0,5.0,4.0,2.0,1.0
2,1.0,"1,2",2.0,1.0,0.0,3.0,4.0,3.0,3.0,NaN,...,4.0,0.0,4.0,4.0,2.0,3.0,2.0,0.0,2.0,2.0
3,1.0,"1,7",2.0,2.0,1.0,4.0,3.0,4.0,3.0,NaN,...,5.0,5.0,NaN,5.0,5.0,5.0,5.0,5.0,1.0,1.0
4,5.0,5,2.0,2.0,1.0,2.0,5.0,2.0,5.0,NaN,...,4.0,0.0,3.0,5.0,4.0,5.0,NaN,3.0,2.0,2.0
5,5.0,5,2.0,2.0,1.0,2.0,5.0,2.0,5.0,NaN,...,NaN,0.0,3.0,5.0,4.0,4.0,5.0,3.0,2.0,2.0

In [138]:
# we need to make sure the maplists are correspondent to the variable we need to recode
for item in zip(to_convert[1:4],maplist):
     print(item[0],item[1])

Discipline_num {'1.0': '1', '2.0': '1', '5.0': '2', '3.0': '2', '4.0': '2'}
Gender_num {'5.0': '3', '7.0': '3', '6.0': '3', '4.0': '3', '3.0': '3', '1.0': '1', '2.0': '2'}
Race_num {'1,2': '1', '1,7': '1', '1': '1', '1,4': '1', '1,2,7': '1', '1,3,6,7': '1', '1,5,7': '1', '1,2,4,7': '1', '1,4,7': '1', '1,6': '1', '1,3': '1', '2,4': '2', '3,4': '2', '2,3,4': '2', '3': '2', '2,7': '2', '3,4,6': '2', '7': '2', '2': '2', '3,4,7': '2', '6': '2', '4,5,7': '2', '4,7': '2', '5': '2', '2,4,7': '2', '3,7': '2', '5,7': '2', '4': '2'}

In [137]:
# let's preview the results to make sure
for item in zip(to_convert[1:4],maplist):

     if item[0] == 'Discipline_num':
        print(test.Discipline_num.map(item[1]).unique())
     if item[0] == 'Gender_num':
        print(test.Gender_num.map(item[1]).unique())        
     else:
        print(test.Race_num.map(item[1]).unique())

['1' '2' nan]
[nan]
[nan '2' '1' '3']
[nan '2' '1']

In [140]:
# this loop would help us to recode the all variables of interests 
for item in zip(to_convert[1:4],maplist):
    test[item[0]]=test[item[0]].map(item[1])

In [141]:
# you could use this method to check the recoded results 
pd.Series({col:test[col].unique() for col in test[to_convert[1:4]]})

Discipline_num       [1, 2, nan]
Gender_num        [nan, 2, 1, 3]
Race_num             [nan, 2, 1]
dtype: object

**Next, we reversely coded the Mental Health Score**

The current code for this variable is erroneous which lead to uninterpretable analytical results, after reexamination of the orginal codes, I found some items needed to be reversely coded in order to reflect the true property of the measures.

Here are some resources

https://stackoverflow.com/questions/13331698/how-to-apply-a-function-to-two-columns-of-pandas-dataframe

https://www.geeksforgeeks.org/how-to-apply-a-function-to-multiple-columns-in-pandas/

https://www.learndatasci.com/solutions/python-absolute-value/#:~:text=The%20absolute%20value%20of%20a,value%20of%20%2D5%20is%205.

In [ ]:
# Check the original one
df[name_MenHea]

:

In [ ]:
# Check the recoded results
df[name_MenHea].apply(lambda x: abs(x-7),axis = 1)